@using hhFinder.Web.Models;
@model List<FullVacancyView>

@{
    ViewBag.Title = "Результаты поиска";
}


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Тестировщик</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">C#</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">JavaScript</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container-fluid row m-0 p-4 justify-content-between">
            <div>
                <div class="form-check">
                    @Html.RadioButton("exampleRadios", "option1", true, new { @class = "form-check-input", @id = "exampleRadios1" })
                    @Html.Label("Без опыта работы", new { @class = "form-check-label", @for = "exampleRadios1" })
                </div>
                <div class="form-check">
                    @Html.RadioButton("exampleRadios", "option2", true, new { @class = "form-check-input", @id = "exampleRadios2" })
                    @Html.Label("Опыт работы от 1 до 3 года", new { @class = "form-check-label", @for = "exampleRadios2" })
                </div>
            </div>
            <div class="form-check">
                @Html.CheckBox("checkbox", false, new { @class = "form-check-input", @id = "isBeginOfCarrier" })
                @Html.Label("Начало карьеры", new { @class = "form-check-label", @for = "isBeginOfCarrier" })
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="d-flex flex-column p-3" style="max-width: 60%">
                @foreach (var vacancy in Model)
            {
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header d-flex justify-content-between collapsed" data-toggle="collapse" href="#collapse-collapsed-@vacancy.Id">
                            <a class="d-block text-white">
                                @vacancy.Employer.Name
                            </a>
                            <a class="d-block text-white">
                                @vacancy.Name
                            </a>
                            <a class="d-block text-white">
                                *SALARY*
                            </a>
                        </div>
                        <div class="card-body collapse" id="collapse-collapsed-@vacancy.Id" aria-labelledby="heading-collapsed-@vacancy.Id">
                            <h5 class="card-title">@vacancy.Name</h5>
                            @*<a href="@vacancy.AlternateURL" class="stretched-link"></a>*@

                            @Html.Raw(vacancy.Description)

                            <p class="card-text text-white"><small class="text-white">@vacancy.PublishedAt</small></p>
                            <p class="card-text text-white"><small class="text-white">@vacancy.Experience.Name</small></p>
                            <p class="card-text text-white"><small class="text-white">@vacancy.Employer.Name</small></p>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>